h1 {
    color: darkblue;
    font-family: times;
    font-size: 40pt;
    background-color: lightblue;
    font-weight: 900;
    text-align: center;
    border: 25px solid black;

}

p{
    font-size: 12pt;
    color: white;
    font-family: times;


}

h3 {

    text-align: left;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: 400;
}


h2{
    font-size: 18pt;
    text-transform: uppercase;

}

g{
    font-size: 16pt;
}





ul{
    font-size: 12pt;
}

html{


    color: white;

}

h1 p{
    color: darkblue;
}

h4{
    font-weight: 600;
}

div{

    flex-direction: row-reverse;
}

a{
    color: white;
}

img{
    justify-content: right;
    align-items: right;
}

.linkedin{

    color: darkblue;
    font-size: 12pt;

}

.principles:hover{ color: yellow

}

.principles:hover{
    text-underline-position: below;
    text-decoration: underline;

}


body{
    background-color: darkblue;
    font: Times;
}
.box{
    border: 5px solid yellow;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 20px;


}

.techie{
    height: 300px;
    width: 250px;
    border: 5px solid yellow;
    border-radius: 50%;
    float: right;



}
.beepboop{

    border: 5px solid yellow;
}
