h1 {
    color: darkblue;
    font-family: times;
    font-size: 40pt;
    background-color: lightblue;
    font-weight: 900;
    text-align: center;
}

p{
    font-size: 12pt;
    color: white;
    font-family: times;


}

h3 {

    text-align: left;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: 400;
}


h2{
    font-size: 18pt;

}

g{
    font-size: 16pt;
}





ul{
    font-size: 12pt;
}

html{


    color: white;

}

h1 p{
    color: darkblue;
}

h4{
    font-weight: 600;
}

div{

    flex-direction: row-reverse;
}

a{
    color: white;
}

img{
    justify-content: right;
    align-items: right;
}

.linkedin{

    color: darkblue;
    font-size: 12pt;

}

.principles:hover{ color: yellow

}



body{
    background-color: darkblue;
}
